<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %}{% endblock %}</title>
    <!-- Favicon-->
    {% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    {{ bootstrap.load_css() }}
    {% endblock %}
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{url_for('home')}}">🎥 My Favourite Movies</a>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('add')}}" class="link-secondary">+ add new movie</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if current_user.is_authenticated %}
            <div class="d-flex ms-auto">
                <button id="copyButton" class="btn btn-secondary me-2">API Key</button>
                <input type="text" id="textToCopy" value={{current_api}} style="display: none;">
                <a href="https://documenter.getpostman.com/view/29129910/2s9Y5Tz5De" class="btn btn-secondary me-2">API Documentation</a>
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Log out</a>
            </div>
        {% else %}
            <!-- Login and Register Buttons -->
            <div class="d-flex ms-auto">
                <a href="{{ url_for('login') }}" class="btn btn-primary me-2">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>


<!-- Header-->

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">List of my favourite movies</h1>
            <p class="lead fw-normal text-white-50 mb-0"> from highest rating</p>
            <p class="lead fw-normal text-white-50 mb-0"> check below 👇</p>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2023</p></div>
</footer>

<!-- Bootstrap core JS-->
{{ bootstrap.load_js() }}
<!-- Core theme JS-->
<script src="static/js/scripts.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const copyButton = document.getElementById("copyButton");
            const textToCopy = document.getElementById("textToCopy");

            copyButton.addEventListener("click", function() {
                textToCopy.style.display = "block";
                textToCopy.select();
                document.execCommand("copy");
                textToCopy.style.display = "none";
                alert("Text copied to clipboard: " + textToCopy.value);
            });
        });
    </script>

</body>
</html>
