{% extends 'base.html' %}
{% block title %}My Top Favourite Movies{% endblock %}
{% block content %}
<div class="py-5 text-center">
    <h2>{{ movie.title }}</h2>
    <div class="form-group mb-3">
        <h6>{{movie.year}}</h6>
    </div>
    <p class="lead">{{ movie.rating }} ⭐</p>
    <form method="POST" action="{{ url_for('edit') }}" novalidate>
        {{ forms.csrf_token }}

        <div class="form-group mb-3">
            {{ forms.rating.label }} <br> {{ forms.rating }}
        </div>

        <div class="form-group mb-3">
            {{ forms.review.label }} <br> {{ forms.review }}
        </div>

        <div class="mb-3">
            {{ forms.submit(class="btn btn-primary") }}
        </div>

        <input type="hidden" name="id" value="{{ movie.id }}">
    </form>
</div>


{% endblock %}